In [7]:
# import requests
# from ntlm import HTTPNtlmAuthHandler
# from requests_ntlm import HttpNtlmAuth, HttpNtlmSspiAuth

# from math import sin, pi
# from bokeh.plotting import line
# from bokeh.resources import CDN
# from bokeh.embed import file_html

# x = range(100)
# y = [sin(2.*pi*(1./25.)*x_) for x_ in x]
# plot = line(x, y, color="red")
# html = file_html(plot, CDN, "Sine")

In [1]:
import numpy as np
import bokeh.plotting as bk
from datetime import datetime,timedelta

no_of_datapoints=10

base = datetime(2016, 2, 1, 9, 36, 0)
date_list = [base - timedelta(minutes=x) for x in range(0, no_of_datapoints)]
datapoints=np.arange(no_of_datapoints)

p=bk.figure(webgl=True,x_axis_type="datetime")
p.scatter(x=date_list,y=datapoints)
bk.show(p)

C:\Users\db375qf\AppData\Local\Continuum\Anaconda3\lib\site-packages\bokeh\util\deprecation.py:34: BokehDeprecationWarning: webgl was deprecated in Bokeh 0.12.6 and will be removed, use output_backend instead.
  warn(message)

In [48]:
mtx = x1.parse("Matrix")
mtx.head()

,"Name (Last, First)",Level,Location,Department,Role/function,Practice,Last Update Date,Ab Initio,Adaptive,Advanced SQL,...,SAS,Spotfire,SPSS,Tableau,Teradata,Test Director,Trillum,Unix,VBA,Visio
0,"Bhardwaj,Punica",Associate Analyst,Jacksonville,FSO,SDC,DnA,2017-01-31,0,0,1,...,Flag,Flag,1,Flag,2,0,0,NaN,NaN,NaN
1,"Campos Gembe, Brenda",Associate Analyst,Jacksonville,FSO,SDC,DnA,2017-02-03,0,0,1,...,Flag,Flag,Flag,Flag,Flag,0,0,Flag,flag,1
2,"Cardenas, Javi",Associate Analyst,Jacksonville,FSO,SDC,DnA,2017-01-31,0,0,2,...,Flag,Flag,0,Flag,Flag,0,0,NaN,NaN,NaN
3,"Carter, Anthony",Associate Analyst,Jacksonville,FSO,SDC,DnA,2017-02-04,0,0,Flag,...,Flag,Flag,0,Flag,0,Flag,0,NaN,NaN,NaN
4,"Cavallaro, Anthony",Senior Analyst,Jacksonville,FSO,SDC,DnA,2017-02-14,0,0,3,...,Flag,Flag,0,Flag,Flag,0,1,NaN,NaN,NaN

In [49]:
now = datetime.datetime.now()
curDate = datetime.datetime.date(datetime.datetime.now())
output_file('matrix'+ str(curDate) +'.html')

In [ ]:
#dropdown button
# from bokeh.models.widgets import Dropdown
# from bokeh.io import output_file, show, vform

# output_file("dropdown.html")

# menu = [("Item 1", "item_1"), ("Item 2", "item_2"), None, ("Item 3", "item_3")]
# dropdown = Dropdown(label="Dropdown button", type="warning", menu=menu)

# show(vform(dropdown))